$small-width: 300px;
$medium: 600px;

#teamInfo {
    padding: 10px;
    #wins {
        color: #008000;
    }

}

#link {
    position: absolute;
    top: 0px;
    left: 0px;
}

#gridContainer {
    position: relative;
    top: -75px;
}

.teamMatches {
    position: relative;
    top: -75px;
    //pointer-events: none;
}

